.app
	.headerContainer
		background: #f0f0f0
		padding-top: 2rem
		padding-bottom: 0.5rem
		margin-bottom: 0.5rem

		.headerRow
			.pageHeader
				.headerTitle
					display: inline-block
					font-size: 1.3rem
					font-weight: 500
					margin-right: 0.5rem

			.managerHeader
				.btn
					margin-right: 0.5rem