.listManagerList
	padding: 0 5px
	font-size: 18px
	height: 40px
	line-height: 40px

	.listManagerActions
		text-align: right

		.btn
			margin-top: -3px

.listManagerList.archived
	.listManagerListName
		font-style: italic
		color: #aaa

.listManagerList:hover
	background: #efefef