.listManagerList
	padding: 0 5px
	font-size: 18px
	height: 40px
	line-height: 40px

	.listManagerActions
		text-align: right

		.btn
			margin-top: -3px
			margin-left: 4px

.listManagerList.archived
	.listManagerListName
		font-style: italic
		text-decoration: line-through
		color: #6a6a6a

.listManagerList:hover
	background: #efefef