.addTodo
	color: #5a5a5a
	cursor: pointer
	text-decoration: underline
	text-decoration-style: dashed

.addTodo:hover
	color: black

.addTodoPrompt
	input
		display: inline-block
		width: 20rem

	.btn
		margin-top: -2px
		margin-left: 2px