.todoItem
	margin-bottom: 0.1rem

	.todoItemActions
		color: #555
		display: inline-block
		margin-left: 0.5rem
		opacity: 0
		transition: opacity 0.3s

		.fa
			cursor: pointer
			margin-right: 0.5rem
		
		.fa:hover
			color: #000

.todoItem.edit
	input[type=checkbox]
		margin-top: .4rem

	.todoItemEditContainer
		margin-top: -2px
		width: 100%

		.todoItemEditName
			display: inline-block
			font-size: 12px
			padding: 3px 6px
			width: 15rem

.todoItem:hover, .todoItem.edit
	.todoItemActions
		opacity: 1

.todoItem.complete
	color: #555
	font-style: italic

	label
		text-decoration: line-through